.pairCard {
  position: relative;
  flex: 1 1 300px;
  width: 300px;
  height: 300px;
  margin: 20px;
  border: 1px solid #ccc;
}

.giver {
}

.receiver {
  position: absolute;
  right: 0;
  bottom: 0;
}

.group {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
}
